# Application
NODE_ENV=development
PORT=8080


# Database
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=system

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=24h

# Redis (for cache)
REDIS_URI=
REDIS_HOST=localhost
REDIS_PORT=6379

# RBAC Cache
RBAC_CACHE_TTL=1000
RBAC_CACHE_MAX=2000

# Mức độ log (debug, info, warn, error)
#LOG_LEVEL=info
LOG_LEVEL=debug

# Bật/Tắt log ra file (Nên bật ở Production)
LOG_FILE_ENABLED=false

# Đường dẫn lưu file log
LOG_FILE_PATH=./logs

# Cấu hình xoay vòng log (Giữ log trong bao nhiêu ngày)
LOG_FILE_MAX_FILES=30d
# Event Bus Configuration (memory, rabbitmq, kafka)
EVENT_BUS_TYPE=memory

# DENTAL MODULE CONFIG
DENTAL_UPLOAD_DIR=uploads/dental/temp
DENTAL_OUTPUT_DIR=uploads/dental/converted
DENTAL_ENCRYPTION_KEY=qW9xZ2tL8mP4rN6vB3jF5hY7cT2kD9w6
PISCINA_MIN_THREADS=2
PISCINA_MAX_THREADS=4

# PUBLIC URL (Domain của API)
APP_URL=http://localhost:8080
